<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/faq/">FAQ</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/privacy/">Privacy Policy</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/dev/">Developer</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/faq/#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Commons Machinery in Sweden AB. Dedicated to the Public Domain with <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 Universal</a></p>
            </div>
            <div class="col-md-4">
               <p> Web page based on <a href="https://github.com/swcool/landing-page-theme">Landing Page</a> by Shane Wang. Photos <a href="https://www.flickr.com/photos/kk/396721013/">The Koret Years</a> and <a href="https://www.flickr.com/photos/kk/397834706/">Kim Cathers</a> by <a href="https://www.flickr.com/photos/kk/">Kris Krug</a>, licensed under <a href="https://creativecommons.org/licenses/by-sa/2.0/">Creative Commons Attribution-ShareAlike 2.0</a>.</p>
                <img src="/img/shuttleworth.png" alt="Shuttleworth Funded" />
            </div>
        </div>
    </div>
</footer>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//commonsmachinery.se/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//commonsmachinery.se/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

<script src="/js/jquery.popup.min.js"></script>

