<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include navigation.html %}
		{% include header.html %}
		{% include page_content.html %}
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
<script>
var popup = new $.Popup();
popup.open("<h2>Help us give credit!</h2><p>Hi, you may not have seen, but we've launched a campaign to help support future work on Elog.io at <a href='https://www.indiegogo.com/projects/elog-io-giving-credit-to-creators/x/48975'>IndieGoGo</a>, please check out the campaign and <a href='http://elog.io/40m/'>help us spread the word</a><br /><br /><a href='#' onclick='popup.close()'>close</a>", 'html');

</script>
	</body>
</html>
