<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include navigation.html %}
        <div class="container" style="padding-top: 50px">
          <div class="row">
            <div class="col-md-2" style="padding-top: 4em">
                <p><a href="#code">General questions</a></p>
                <p><a href="#API">Image matching</a></p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-8" style="padding-top: 2em">
                {{ page.content }}
            </div>
          </div>
        </div>

		{% include footer.html %}
		{% include js.html %}
	</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38814645-6', 'auto');
  ga('send', 'pageview');

</script>
</html>
